body {
    background: #f6f6f6;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Custom CSS */

/* Borders */
.border-v-primary {
    border-color: $vprimary !important;
}

.border-v-red {
    border-color: $vred !important;
}

.border-v-xlight {
    border-color: $vxlight !important;
}

.border-v-light {
    border-color: $vlight !important;
}

.border-3 {
    border-top: 3px solid #959595 !important;
}

.border-5 {
    border-left: 5px solid $vred !important;
}

/* Form Fields */
.order-section {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    outline: none 0;
    height: 45px;
    width: 95%;
    font-size: 20px;
    padding-left: 15px;
}

/* Sticky Pricing Calculator */
.nav-z {
    z-index: 9999;
}

/* Background */
.bg-vlight {
    background-color: $vlight !important;
}

.bg-vxlight {
    background-color: $vxlight !important;
}

.bg-primary {
    background-color:$vprimary !important;
}

.bg-vred {
    background-color: $vred !important;
}
.btn-outline-vlight {
    border: 1px solid $vlight;
}


/* Submit Button */
.btn-vred {
    background: white;
    color: black!important;
    border: 1px solid black;
    border-radius: 25px!important;
    font-size: 16px;
    font-weight: bold;

    i {
        display: none;
    }

    &.loading {
        i {
            display: inline-block;
        }
    }

    &.active {
        background-color: #000 !important;
        color: white !important;
        font-size: 16px;
        font-weight: bold;

        &:before{
            font-family: 'Font Awesome 5 Free' !important;
            font-style: normal !important;
            font-weight: 900 !important;
            opacity: 1 !important;
            padding: 0 5px 0 0;
            position: relative;
            content: '\f00c';
            color: #CD040B;
        }
    }

}


/* Icons */
.icon-sm {
    height: 20px;
}

/* Header */
header {
    z-index: 9999 !important;
    min-height: 80px!important;
}

main {
    margin-top: 90px;

    @media screen and (max-width: $md-max) {
        margin-top: 70px;
    }
}


.title-card {
    .editNow {
        position: relative;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }

    .title-card-off{

        .check{
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                padding: 0 10px 0 0;
                position: relative;
                content: '\f00c';
                color:$vred;
                 @media screen and (max-width: $sxs-max) {
                    display:none;
                }
            }
        }   
    }

}


.sticky-offset {
    top: 95px; //same size of the header

    @media screen and (max-width: $md-max) {
        top: 76px;
    }
}

input, select{
    &.validation-error{
        border:1px solid red!important;
    }
}

.validation-error{
    &.modal-content{
        color: #CD040B!important;
    }
}

#cartPrice {
    .cartDetails_bnt {
        a {
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                display: contents !important;
                padding: 10px 10px 0px 20px;
                position: relative;
            }

            &[aria-expanded="true"] {
                &::before {
                    content: "\f106" !important;
                }
            }

            &[aria-expanded="false"] {
                &::before {
                    content: "\f107" !important;
                }
            }
        }
    }

    @media screen and (max-width: $md-max) {

        .price-taxes {
            margin-top: -50px;
            line-height: 0px;
            text-align: right;

            h2 {
                font-size: 20px !important;
            }
        }

        h4 {
            font-size: 20px !important;
        }
    }

    .cartTitle {
        max-width: 70%!important;
    }
}

/* T&C BOX */

.terms-box {
    max-height: 80px !important;
}

/* PROMO BANNER */
* {
  box-sizing: border-box;
}

.flag {
  width: 120px;
  height: 90px;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: 15px;
  position: relative; 
  background: black;
  border-top: 3px solid $vred;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 600px) {
    .flag {
      width: 300px;
      height: 50px;
      padding-top: 8px;
      font-size: 18px;
    }
}

@media screen and (max-width: 321px) {
    .flag {
      width: 260px;
      height: 50px;
      padding-top: 8px;
      font-size: 18px;
    }
}

.flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid white;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

@media screen and (max-width: 600px) {
    .flag:after {
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    .flag:after {
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
    }
}

.gcard {
    max-height: 80px!important;
    padding-top: 15px!important;
}

@media screen and (max-width: $md-max) {
    .gcard {
        margin-top: 0px!important;
    }
}

@media screen and (max-width: 600px) {
    .gcard {
        max-height:60px!important;
        padding-top: 0px!important;
    }
}

@media screen and (max-width: 320px) {
    .gcard {
        max-height: 50px!important;
        padding-top: 0px!important;
    }
}

/* CARD PRICE */
.selectPrice {
    min-height: 200px!important;
}

/* BTN */
.selectBtn {
    min-height: 80px!important;
}
