 /* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900'); */
 @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');

 body {
     /* font-family: 'Roboto', sans-serif; */
     font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
 }

 a {
 	color: black !important;
 }

 h1 { font-size: 56px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h1 {
		font-size: 36px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h2 { font-size: 44px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h2 {
		font-size: 32px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h3 { font-size: 36px; margin: 0px!important; font-weight: bolder !important; }
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 24px !important;
		margin: 0px !important;
		font-weight: bolder !important;
	}
 }

 h4 { font-size: 30px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h4 {
		font-size: 26px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h5 { font-size: 22px; margin: 0px!important; font-weight: bolder !important;}

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
		font-weight: bolder !important;
	}
 }

 h6 { font-size: 22px; margin: 0px!important; font-weight: lighter !important;}

  @media screen and (max-width: $sm-min) {
	h6 {
		font-size: 18px !important;
		margin: 0px !important;
		font-weight: lighter !important;
	}
 }

 .text-gc { 
 	font-size: 34px; line-height: 1; 
 }

 @media screen and (max-width: 1200px) {
	.text-gc {
		font-size: 30px;
	}
 }

  @media screen and (max-width: 600px) {
	.text-gc {
		font-size: 18px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gc {
		font-size: 16px;
	}
 }

 .text-gcCart { font-size: 20px; line-height: 1!important; }

 @media screen and (max-width: 980px) {
	.text-gcCart {
		font-size: 20px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gcCart {
		font-size: 15px;
	}
 }
 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-small { font-size: 14px; line-height: 1!important; }
 .text-footer { font-size: 12px; line-height: 1.5!important; }
 .text-xsmall { font-size: 12px; line-height: 1.2!important; }
 .text-options { line-height: 1.2!important; }


 /* Text */
// Contextual colors

.text-huge { font-size: 64px; font-weight: 900!important; margin: 0px!important; line-height: 1.3!important;}

  @media screen and (max-width: $sm-min) {
	.text-huge {
		font-size: 48px !important;
		margin: 0px !important;
	}
 }

.text-white { color: $white !important; }
.text-v-primary { color: $vprimary !important; }
.text-v-red { color: $vred !important; }
.text-v-xlight { color: $vxlight !important; }


::-webkit-input-placeholder { /* Edge */
  color: $vlight!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $vlight!important;
}

::placeholder {
  color: $vlight!important;
}

